/* src/components/Header.css */
.cart-icon-wrapper {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  color: #d8b69a;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #632c0d;
  border-bottom: 1px solid #d8b69a;
  color: #d8b69a;
  position: relative;
}

.nav {
  display: none;
  flex-direction: column;
  background-color: #632c0d;
  position: absolute;
  top: 60px;
  left: 0;
  width: 80%; /* Adjusted width for desktop */
  max-width: 300px; /* Maximum width for larger screens */
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav.open {
  display: flex;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 10px 0;
  padding: 10px 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #d8b69a;
}

.nav-links li a:hover {
  background-color: #4f1e0a;
  border-radius: 4px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo h1 {
  margin: 0;
  font-size: 36px;
  font-family: 'CustomFont', sans-serif;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  display: block;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/Caveat-VariableFont_wght.ttf') format('woff2');
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .nav {
    top: 50px; /* Adjust this if necessary to match the height of your header */
    width: 100%; /* Full width for mobile */
  }
  .logo h1 {
    font-size: 24px;
  }
}





  