/* src/Styles/Checkout.css */
.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  .checkout-container {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
  }
}





