.order-confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Adjust as needed */
  background: rgba(0, 0, 0, 0.5); /* Optional: adds a dark overlay background */
}

.order-confirmation-box {
  background-color: rgba(255, 255, 255, 0.9); /* Light transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.order-confirmation-box h2 {
  color: #a6492c; /* Adjust as needed */
}

.order-confirmation-box p, .order-confirmation-box ul {
  color: #333;
}

.order-confirmation-box ul {
  list-style-type: none;
  padding: 0;
}

.order-confirmation-box ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.order-confirmation-box ul li:last-child {
  border-bottom: none;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .order-confirmation-container {
    padding: 10px;
    min-height: 60vh; /* Adjust as needed for smaller screens */
  }

  .order-confirmation-box {
    width: 100%;
    padding: 15px;
  }

  .order-confirmation-box h2 {
    font-size: 1.5em;
  }

  .order-confirmation-box p, .order-confirmation-box ul {
    font-size: 1em;
  }

  .order-confirmation-box ul li {
    padding: 10px 0;
  }
}

  