/* src/Styles/RestaurantMenu.css */

.menu-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #632c0d;
}

.menu-title {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d8b69a;
  background-color: #632c0d;
  border-radius: 5px;
  color: #d8b69a;
  font-size: 2em;
}

.menu-box {
  background: rgba(255, 255, 255, 0.9); /* Slight transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.menu-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #632c0d;
}

.menu-items {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  text-align: left;
}

.item-name {
  font-size: 1.2em;
  margin: 0;
  color: #632c0d;
}

.item-description {
  color: #666;
  margin: 5px 0;
}

.item-price {
  color: #333;
  margin: 5px 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .menu-container {
    padding: 10px;
    max-width: 100%;
  }

  .menu-title {
    font-size: 1.5em;
    padding: 8px;
  }

  .menu-box {
    padding: 15px;
  }

  .menu-name {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  .menu-item {
    padding: 8px 0;
  }

  .item-name {
    font-size: 1em;
  }

  .item-description, .item-price {
    font-size: 0.9em;
  }
}




