body {
  margin: 0;
  padding: 0;
  background-image: url('/jed-owen-NPBnWE1o07I-unsplash.jpg');
  background-size: cover; /* Ensures the image covers the whole page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  height: 700px;
}

h2 {
  color: #333;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  body {
    background-size: cover;
    background-position: top;
  }
}



